.challenge-mode-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    background:
            radial-gradient(circle at 50% 0, rgba(255, 50, 0, .5), rgba(255, 50, 0, 0) 70.71%),
            radial-gradient(circle at 6.7% 75%, rgba(0, 50, 255, .5), rgba(0, 50, 255, 0) 70.71%),
            radial-gradient(circle at 93.3% 75%, rgba(0, 255, 50, .5), rgba(0, 255, 50, 0) 70.71%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
}

.answers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer-button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
    text-align: center;
}

.answer-button.selected {
    background-color: #d3d3d3;
}

.answer-button.correct {
    background-color: #4CAF50;
    color: white;
}

.answer-button.wrong {
    background-color: #f44336;
    color: white;
}

.feedback-message {
    font-size: 18px;
    margin-top: 20px;
}
