.home-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    background:
            radial-gradient(circle at 50% 0, rgba(255, 50, 0, .5), rgba(255, 50, 0, 0) 70.71%),
            radial-gradient(circle at 6.7% 75%, rgba(0, 50, 255, .5), rgba(0, 50, 255, 0) 70.71%),
            radial-gradient(circle at 93.3% 75%, rgba(0, 255, 50, .5), rgba(0, 255, 50, 0) 70.71%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
}

.home-content {
    height: 70vh;
    width: 100vw;
    margin-top: 15vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mode-cards-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.mode-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.mode-card h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #000;
}

.mode-card p {
    font-size: 1em;
    color: #000;
}

.mode-link {
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mode-card.quiz-card {
    background-color: #f28b82;
}

.mode-card.trivia-card {
    background-color: #a7c7e7;
}

.mode-card.challenges-card {
    background-color: #ffeb3b;
}

.mode-card:hover {
    transform: scale(1.05);
}

.top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    position: absolute;
    top: 0;
    background: transparent;
    color: white;
    z-index: 1;
}

.profile-icon-container {
    position: relative;
}

.profile-dropdown-toggle {
    background: none !important;
    border: none !important;
    padding: 0;
    color: inherit;
    box-shadow: none;
    scale: 1.2;
}

.profile-dropdown-toggle:hover {
    transform: scale(1.05);
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dropdown-username {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .home-container {
        padding: 10px;
    }

    .mode-cards-container {
        flex-direction: column;
    }

    .mode-card {
        width: 90%;
        height: auto;
        margin: 10px 0;
    }

    .mode-card h2 {
        font-size: 1.2em;
    }

    .mode-card p {
        font-size: 0.9em;
    }

    .top-bar {
        padding: 5px 10px;
    }

    .profile-icon {
        width: 30px;
        height: 30px;
    }

    .dropdown-username {
        font-size: 14px;
    }
}