body {
    background:
            radial-gradient(circle at 50% 0,
            rgba(255,50,0,.5), rgba(255,50,0,0) 70.71%),
            radial-gradient(circle at 6.7% 75%,
            rgba(0,50,255,.5), rgba(0,50,255,0) 70.71%),
            radial-gradient(circle at 93.3% 75%,
            rgba(0,255,50,.5), rgba(0,255,50,0) 70.71%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.mainContainer {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quoteContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}

.quizImage {
    width: 300px; /* Adjust the size as necessary */
    height: auto;
}

.loginContainer {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

.loginForm {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.formGroup {
    margin-bottom: 15px;
}

.formControl {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    border: 1px solid #ddd;
    text-align: center;
    margin-bottom: 15px;
}

.btn {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #fff;
    cursor: pointer;
    margin-bottom: 15px;
}

.btnSecondary {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #fff;
    cursor: pointer;
    margin-top: 15px;
}

.forgotPassword {
    margin-top: 15px;
}

.signup {
    text-align: center;
}

.signup p {
    margin: 10px 0;
}

.alert {
    color: red;
    margin-bottom: 15px;
}