.profile-page {
    margin-top: 100px;
}

.profile-container {
    font-size: 20px;
    text-align: center;
}

.custom-password-button {
    width: 200px;
    height: 50px;
    margin-bottom: 25px;
}

.custom-profile-button {
    width: 200px;
    height: 50px;
    margin-bottom: 25px;
}

.custom-danger-button {
    width: 200px;
    height: 50px;
    background-color: transparent !important;
    border-color: red !important;
    color: red !important;
    transition: background-color 0.5s, color 0.5s !important;
}

.custom-danger-button:hover {
    width: 200px;
    height: 50px;
    background-color: red !important;
    color: white !important;
}
