.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background:
            radial-gradient(circle at 50% 0, rgba(255, 50, 0, .5), rgba(255, 50, 0, 0) 70.71%),
            radial-gradient(circle at 6.7% 75%, rgba(0, 50, 255, .5), rgba(0, 50, 255, 0) 70.71%),
            radial-gradient(circle at 93.3% 75%, rgba(0, 255, 50, .5), rgba(0, 255, 50, 0) 70.71%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.quiz-finished-content {
    height: 80%;
    width: 100%;
    outline: 1px solid black;
    border-radius: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.header {
    font-size: 40px;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: unset !important;
    width: 100% !important;
    padding: 2rem;
    height: 90%;
    align-items: stretch !important;
    justify-content: space-between;
    gap: 2rem;
}

.stats,
.question-history {
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.stats-values,
.question-history-content {
    height: 100%;
    width: 100%;
    outline: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    text-align: left;
    font-size: 20px;
    overflow-y: auto;
    flex: 1;
}

.stats-content-finished {
    width: 100%;
    margin-top: 2rem;
}

.stat-item {
    display: flex;
    flex: 1;
    align-items: baseline;
    margin-bottom: 10px;
}

.stat-icon {
    margin-right: 10px;
}

.question {
    text-align: left;
    font-size: large;
    margin-bottom: 1rem;
    padding-left: 0px;
    margin-top: 2rem;
}

.question-answer {
    text-align: left;
    font-size: large;
    margin-right: 2rem;
    padding-left: 20px;
}

.question-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stat-icon {
    margin-left: 1rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    outline: 1px solid black;
    border-radius: 20px;
    margin: 0;
    background-color: rgba(115, 115, 115, 0.29);
}

.congrats-profile-icon {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}

.quiz-congrats-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.quiz-stats-container {
    margin-bottom: 20px;
    width: 100%;
    padding: 2rem;
}

.quiz-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.quiz-button {
    padding: 10px 20px;
    border-radius: 3px;
    text-decoration: none;
    background-color: #007bff;
    color: white;
}
