.stats-page {
    background: radial-gradient(circle at 50% 0, rgba(255, 50, 0, .5), rgba(255, 50, 0, 0) 70.71%),
    radial-gradient(circle at 6.7% 75%, rgba(0, 50, 255, .5), rgba(0, 50, 255, 0) 70.71%),
    radial-gradient(circle at 93.3% 75%, rgba(0, 255, 50, .5), rgba(0, 255, 50, 0) 70.71%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    color: black;
    padding-top: 1em;
}

.top-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.profile-icon-container {
    position: relative;
}

.profile-dropdown-toggle {
    background: none;
    border: none;
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.stats-content {
    width: 80%;
    max-width: 800px;
    max-height: 80%; /* Adjust this value to leave some space at the bottom */
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    color: black;
    overflow: hidden; /* To prevent content from overflowing */
}

.stats-header {
    text-align: center;
    font-size: 3em; /* Adjust this value to make the header bigger or smaller */
    padding-bottom: 1em;
}

.stats-summary {
    margin-bottom: 20px;
}

.history-header {
    text-align: center;
}

.game-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 700px; /* Adjust this value as needed */
    overflow-y: auto;
}

.game-result {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 100%;
    max-width: 700px;
    text-align: left;
    border-radius: 5px;
}

.game-result.win {
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.game-result.loss {
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .stats-content {
        width: 90%;
        padding: 10px;
    }

    .stats-header {
        font-size: 2em; /* Smaller font size for mobile */
    }

    .game-result {
        font-size: 0.9em; /* Smaller text for game results on mobile */
    }

    .game-history {
        max-height: 50vh; /* Adjust to ensure it fits on mobile screens */
    }
}

@media (max-width: 480px) {
    .stats-content {
        width: 80%;
        padding: 5px;
    }

    .stats-header {
        font-size: 1.5em; /* Smaller font size for smaller screens */
    }

    .game-result {
        font-size: 0.8em; /* Smaller text for game results on small screens */
    }

    .game-history {
        max-height: 40vh; /* Adjust to ensure it fits on small screens */
    }
}