.trivia-mode-main {
    background:
            radial-gradient(circle at 50% 0, rgba(255, 50, 0, .5), rgba(255, 50, 0, 0) 70.71%),
            radial-gradient(circle at 6.7% 75%, rgba(0, 50, 255, .5), rgba(0, 50, 255, 0) 70.71%),
            radial-gradient(circle at 93.3% 75%, rgba(0, 255, 50, .5), rgba(0, 255, 50, 0) 70.71%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.trivia-mode-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
}

.trivia-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
}


.main-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 95%;
    align-items: center;
    border-radius: 20px;
    outline: 1px solid rgba(81, 81, 81, 0.27);
    background-color: rgba(115, 115, 115, 0.29);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.12);
    margin: 30px;
}

.question-container-trivia {
    width: 100%;
    height: 200px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(81, 81, 81, 0.02);
    box-shadow: 0px 2px rgba(0, 0, 0, 0.05);
    border-top-left-radius: 20px; /* Top left corner */
    border-top-right-radius: 20px; /* Top right corner */
    font-size: xx-large;
}

.answers-container-trivia-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.answers-container-trivia {
    display: grid;
    width: 99%;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 30px;
    margin-bottom: 10px;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.answers-container-trivia > button{
    width: 100%;
    height: 100%;
    background-color: rgba(81, 81, 81, 0.09);
    border-radius: 20px;
    cursor: pointer;
    font-size: x-large;
    text-align: center;
    border: 1px rgba(81, 81, 81, 0.19) solid;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.42);
}

.answer-button-trivia-selected {
    background-color: #d3d3d3;
}

.answer-button-trivia-correct {
    background-color: #4CAF50;
}

.answer-button-trivia-wrong {
    background-color: #f44336;
}

.answers-container-trivia > button:hover {
    transform: scale(1.008);
}
