.selector-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    background: radial-gradient(circle at 50% 0, rgba(255, 50, 0, .5), rgba(255, 50, 0, 0) 70.71%),
    radial-gradient(circle at 6.7% 75%, rgba(0, 50, 255, .5), rgba(0, 50, 255, 0) 70.71%),
    radial-gradient(circle at 93.3% 75%, rgba(0, 255, 50, .5), rgba(0, 255, 50, 0) 70.71%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
}

.main-container-selector {
    margin: 40px;
    background-color: rgba(81, 81, 81, 0.18);
    border-radius: 20px;
    width: 80vw;
    height: 80vh;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.42);
}

.header_trivia {
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    border-bottom: 1px rgba(0, 0, 0, 0.3) solid;
    text-align: center;
    font-size: xx-large;
}

.content_trivia {
    width: 80vw;
    height: 72vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.option-container {
    background-color: rgba(81, 81, 81, 0.18);
    border-radius: 20px;
    width: 70%;
    height: 30%;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.42);
 }

.option-label {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
}

.option-selector {
    height: 100%;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
}
.option-selector-range {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
}


.button-container {
    border-radius: 20px;
    width: 250px;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

.form-check-label {
    text-align: left;
}

#start-button {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    font-size: x-large;
    font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.42);
}

#start-button:hover {
    transform: scale(1.02);
}

#range {
    width: 80%;
    margin-top: 45px;
}

#range:hover {
    transform: scale(1.02);
}

.form-check {
    font-size: large;
    margin-left: 10px;
    margin-right: 10px;
}

#num-rounds {
    font-size: large;
}

.radio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 800px) {
    .option-container {
        width: 90%;
    }
    .main-container-selector {
        width: 90vw;
    }
    .content {
        width: 90vw;
    }
}


