stages:
  - build
  - lint

image: node:latest

cache:
  paths:
    - ${projectDirectory}/client/node_modules/

build-job:
  stage: build
  script:
    - npm -v #debug purposes
    - npm i
    - cd "${projectDirectory}/server" && npm i && npm start
    - cd "../../"
    - cd "${projectDirectory}/client" && npm i && npm run build
    - cd "../../"

eslint:
  stage: lint
  script:
    - npm run lint

  artifacts:
    paths:
      - "${projectDirectory}/client/dist/"
