stages:
  - build

build-job:
  stage: build
  image: node:latest
  variables:
    projectDirectory: 'quizcraft'

  script:
    - npm -v #debug purposes
    - npm i
    - cd "${projectDirectory}/client" && npm i && cd ..
    - cd "client" && npm run build && cd "../../"
  artifacts:
    paths:
      - "build/"

