stages:
  - build

build-job:
  stage: build
  image: node:latest
  variables:
    projectDirectory: 'quizcraft'

  script:
    - cd "${projectDirectory}/client" && npm install && npm run build $$ cd ..
    - cd "${projectDirectory}/server" && npm install && npm start $$ cd ..
  artifacts:
    paths:
      - "build/"

