stages:
  - build

build-job:
  stage: build
  image: node:latest
  variables:
    projectDirectory: 'quizcraft'

  script:
    - pushd "${projectFolder}/client" && npm install && npm run build && popd
    - pushd "${projectFolder}/server" && npm install && npm start && popd
  artifacts:
    paths:
      - "build/"

